init_config:

instances:
    # url of the kubelet metrics endpoint
  - metrics_endpoint: http://10.8.0.1:10255/metrics
    #
    # The histogram buckets can be noisy and generate a lot of tags.
    # send_histograms_buckets controls whether or not you want to pull them.
    #
    # send_histograms_buckets: True
    #
    # Like all checks based on the PrometheusCheck class, you can add tags
    # to the instance that will be added to all the metrics of this check instance.
    #
    #
    # tags:
    #   - 'mytag1:myValue1'
    #
    # collect_events controls whether the agent should fetch events from the kubernetes API and
    # ingest them in Datadog. To avoid duplicates, only one agent at a time across the entire
    # cluster should have this feature enabled. To enable the feature, set the parameter to `true`.
    #
    # collect_events: false
    #
    # Matching the pods to Kubernetes services requires to retrieve events regularly.
    # To reduce the traffic to the apiserver, we only query them every 5 minutes, adding a delay
    # in pod -> service matching. You can configure it below (in seconds) or disable kube_service
    # tagging completely
    #
    # collect_service_tags: true
    # service_tag_update_freq: 300
    #
    # The namespaces for which events should be collected.
    # If not modified, the 'default' namespace will be used.
    #
    # namespaces:
    #  - default
    #
    # The regexp used to select namespaces for which events should be collected.
    # The matched namespaces will be added to the "namespaces" list.
    # If empty, regexp selection will be ignored.
    #
    # namespace_name_regexp:
    #
    #
    # Leader election
    #
    # Agents can perform leader election among themselves.
    # The leader agent will collect events from the apiserver
    # even if collect_events is false.
    # To perform the election it needs get, list, delete, create, and update
    # rights on ConfigMaps (this can be configured with a Cluster Role).
    # This makes sure we don't overload the apiserver with redundant
    # queries coming from every agent.
    # Default is false.
    #
    # leader_candidate: true
    #
    # lease duration is the duration for which a leader is elected.
    # It should be at least twice the check run period (15s by default)
    # When modifying this setting, keep in mind that the shorter
    # the lease duration, the more often agents will query the apiserver
    # Default is 5 minutes.
    #
    # leader_lease_duration: 600
